<h2 class="header">1.angular环境搭建 创建项目 运行项目</h2>
<li class="header">以下块为news组件</li>
<ol>
  <h3>
    <li>环境搭建</li>
  </h3>
  <ol>
    <h4>
      <li>安装node.js:<br>
        安装node.js稳定版
      </li>
      <li>安装cnpm:<br>
        npm install -g cnpm --registry=https://registry.npm.taobao.org
      </li>
      <li>安装angular脚手架: <br>
        npm install -g @angular/cli <br>
        cnpm install -g @angular/cli
      </li>
      <li>查看版本 <br>
        angular：ng v<br>
        node: node -v<br>
        npm: npm -v <br>
        cnpm: cnpm -v<br>
      </li>
    </h4>
  </ol>
  <h3>
    <li>创建项目</li>
  </h3>
  <ol>
    <h4>
      <li>
        ng new [项目名称] -----------------# 创建项目
      </li>
      <li>
        ng new [项目名称] --skip-install --# 不含装第三方依赖的情况下创建项目
      </li>
      <li>
        yarn install ------------------------# 单独安装第三方模块包
      </li>
    </h4>
  </ol>

  <h3>
    <li>运行项目</li>
  </h3>
  <ol>
    <h4>
      <li>cd [项目名称] # 跳转到项目下 </li>
      <li>ng serve --open or ng serve -o # 运行项目</li>
      <li>ng serve --open --port [端口号] # 指定端口运行项目</li>
    </h4>
  </ol>

</ol>

<h2 class="header">2.angular目录结构分析 核心文件分析 以及创建使用组件</h2>
<!-- 静态方法 -->
<!-- <img src="assets/1575449997.jpg" /> -->
<!-- 动态方法 -->
<h3>
  <ol>

    <li>目录结构分析</li>
    <img [src]=' contents'><br>
    <li>app.module.ts分析</li>
    <img [src]=' module'>
    <li> 创建组件</li>

    <ol>
      <h5>
        <li>
          ng g component [组件名] # 直接在app目录下创建[组件名]的组件
        </li>
        <li>
          ng g component [文件名]/[组件名] #在app目录下新建[文件名]文件里创建[组件名]的组件
        </li>
        <li>组件内容分析</li>
      </h5>
      <img [src]=' component'>

    </ol>
    <li>使用组件</li>
    <h5># 用新建的组件名作为标签插入到html文件里即可<br>
      格式： < app-[组件名]>
        < app-[组件名]>
    </h5>
    <li>数据绑定</li>
    <h5>最简单的数据绑定</h5>
    <img [src]=' titles'>
    <h5>在组件下的.ts文件类下声明 public titles: any = '内容';<br>
      在html面上就渲染出'内容'的里的东西
    </h5>

  </ol>
</h3>

<h2 class='header'>3.angualr组件以及组件中的模板</h2>
<h3>angular模板里绑定数据</h3>

<h4>{{title}}</h4>

<h4>{{msg}}</h4>

<h4>{{student}}</h4>

<h4>{{userinfo.username}}</h4>
<h4>{{userinfo.userage}}</h4>

<h4>{{message}}</h4>

<hr>
<h3>angular模板里绑定属性</h3>


<div title="我是一个div">
  <h4>鼠标停靠</h4>
</div>

<div [title]='userinfo.username'>
  <h4>你是谁</h4>
</div>

<h3>angular模板里绑定html</h3>

<div [innerHTML]='content' class='test'></div>

<hr>
<h3>angular模板做简单运算</h3>
<h3>35×89={{35*89}}</h3>

<hr>
<h3>angular数据循环</h3>
<ol>
  <li *ngFor="let item of arr">
    <h4>{{item}}</h4>
  </li>
</ol>

<ol>
  <li *ngFor="let item of userlist">
    <h4>{{item.username}}的年龄是{{item.age}}岁。</h4>
  </li>
</ol>


<ol>
  <li *ngFor="let item of funcinfo">
    <h4>{{item.who}}在{{item.thing}}</h4>
  </li>
</ol>

<ol>
  <li *ngFor="let item of cars">
    <h4>{{item.cate}}</h4>
    <ol>
      <li *ngFor="let item of item.list">
        <h5>{{item.title}} <br>
          {{item.price}}--{{item.speed}}
        </h5>
      </li>
    </ol>
  </li>
</ol>